#maincontent
{
	height: 500px;
	width: 624px;
	border: 1px solid #fff;
	border-radius: 5px;
	display: block;
	margin: 0 auto;
	margin-top: 50px;
	background-color: #fff;
}

#maincontentitem
{
	height: 450px;
	width: 600px;
	border: 1px solid #aaa;
	border-radius: 2px;
	display: block;
	margin: 0 auto;
	margin-top: 37.5px;
	background-color: #aaa;
}

#welcomemessage
{
	width: 1000px;
	color: #bbb;
	font-size: 2.5em;
	display: block;
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
}

#welcomemessage h1
{
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
	text-shadow: -5px 5px 5px #000;
}

#welcomemessage p
{
	font-size: 30px;
	display: inline-block;
	text-shadow: 0 0 20px #000;
}

#uplittext
{
	color: #4681db;
	font-size: 30px;
	display: inline-block;
	text-shadow: 0 0 20px #000;
	text-decoration: none;
	transition: 1s;
}

#uplittext:hover
{
	color: #7e7e7e;
}

#initialcontainer
{
	border-radius: 100px;
	width: 75px;
	height: 75px;
	margin: 0;
	padding: 0;
	display: inline-block;
	background: #4681db;
	box-shadow: 0 5px 20px #000;
}

#initialtext
{
	font-size: 35px;
	color: #000;
	display: block;
	height:60px;
	width: 75px;
	margin: 0 auto;
	padding-top: 17.5px;
	border-radius: 100px;
	text-decoration: none;
	transition: 1s;
}

#initialtext:hover
{
	color: #bbb;
}

body
{
	width: 100%;
	min-width: 1024px;
	margin: 0;
	padding: 0;
	background-image: url(../img/triangles.png);
}

#topbar
{
	width: 100%;
	margin: 0;
	padding: 0;
	height: 42px;
	text-align: center;
	background-color: #2e2e2e;
	position: fixed;
	top: 0;
	left: 0;
}

#topbar ul
{
	padding: 0;
	margin: 0;
	margin-left: -100px;
	height: 40px;
	list-style-type: none;
	width: 500px;
}

#topbar li
{
	display: inline-block;
}

#topbarhome
{	
	background: url(../img/house.png) no-repeat 0;
	background-position: center;
	background-color: #fff;
}

#topbarhome:hover
{
	background: url(../img/house.png) no-repeat 0;
	background-position: center bottom;
}

#topbarhome span
{
	background-color: #2e2e2e;
	color: #fff;
}

#topbarabout
{	
	background: url(../img/info.png) no-repeat 0;
	background-position: center;
	background-color: #fff;
}

#topbarabout:hover
{
	background: url(../img/info.png) no-repeat 0;
	background-position: center bottom;
}

#topbarabout span
{
	background-color: #2e2e2e;
	color: #fff;
}

#topbarportfolio
{	
	background: url(../img/portfolio.png) no-repeat 0;
	background-position: center;
	background-color: #fff;
}

#topbarportfolio:hover
{
	background: url(../img/portfolio.png) no-repeat 0;
	background-position: center bottom;
}

#topbarportfolio span
{
	background-color: #2e2e2e;
	color: #fff;
}

#topbarcontact
{	
	background: url(../img/contact.png) no-repeat 0;
	background-position: center;
	background-color: #fff;
}

#topbarcontact:hover
{
	background: url(../img/contact.png) no-repeat 0;
	background-position: center bottom;
}

#topbarcontact span
{
	background-color: #2e2e2e;
	color: #fff;
}

span
{
	width: 0;
	height: 0;
	padding: 0;
	font-size: 0;
	margin-top: 30px;
	margin-left: -15px;
	position: absolute;
	overflow: hidden;
	font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
	white-space: nowrap;
	line-height: 40px;
	transition: 0.5s;
}

.topbarnavitem
{
	margin-top: 6px;
	border-radius: 2px;
	height: 30px;
	width: 30px;
	display: block;
	transition: 0.25s;
}

a:hover span
{
	width: 70px;
	height: 40px;
	padding: 0 10px;
	overflow: visible;
	font-size: 18px;
}

#topbartext
{
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
	font-size: 18px;
	color: #fff;
	text-decoration: none;
	transition: 0.5s;
}

#topbartext:hover
{
	color: #ff69b4;
}

#topbartextcontainer
{
	margin: 0;
	padding: 0;
	width: 250px;
	display: inline-block;
	vertical-align: top;
	margin-top: -30px;
}

#navigationmenu
{
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #eee;
}

#navigationmenu ul
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	border: 1px solid #eee;
	text-align: center;
}

#navigationmenu li
{
	display: inline-block;
	margin: 0.5% 0 0.5% 0;
	width: 10%;
	min-width: 155px;
}

#navigationmenu li a
{
	width: 100%;
	display: inline-block;
	font-size: 20px;
	line-height: 70px;
	text-decoration: none;
	color: #949bb7;
	font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
	transition: 1s;
}

#navigationmenu li a:hover
{
	color: #4681db;
	background: #ddd;
}

#navigationmenu li + li
{
	border-left: 1px solid #bbb;
}

footer
{
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #000;
	color: #fff;
	height: 30px;
	text-align: center;
	line-height: 0;
}

#contactcontent
{
	width: 50%;
	height: relative;
	margin: 11.5% 25% 0 25%;
	font-size: 25px;
	color: #bbb;
}

#contacttag
{
	width: 50%;
	float: left;
}

#contactinfo
{
	width: 50%;
	float: right;
}

.tagcontactfix
{
	float:right;
	margin: 25px 20px 0 100px;
}

.privacyinfo
{
	width: 50%;
	color: #fff;
	border-bottom: 1px solid #fff;
	text-align: center;
	margin: 5% 25% -4% 25%;
}

#cvimage
{
	width: 50%;
	margin: 10% 25% 10% 25%;
}

.portfolioitem
{
	color: #fff;
	width: 60%;
	margin: 2.5% 20% 4.5% 20%;
	height: 10%;
}

.portfolioitem img
{
	height: relative;
	width: 20%;
}

.portfolioitem h1
{
	
	float: right;
	width: 75%;
	display: inline-block;
	text-align: center;
	border-bottom: 1px solid #fff;
}

.portfolioitem p
{
	display: inline-block;
	float: right;
	width: 75%;
	margin: 0;
}